.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.five-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Espacio entre campos del formulario */
}
.pi {
  cursor: pointer;
}

.p-datatable .p-datatable-thead {
  background-color: #f4f4f49d; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

.inactive-row {
  background-color: #ffe8e8; /* Fondo rojo claro para indicar inactividad */
}

.v-scrollable-tabview .p-tabview-nav {
  height: auto !important;
}

.v-scrollable-tabview .p-tabview-panel {
  flex-grow: 1;
  overflow-y: auto;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
